{
  "parser": "babel-eslint",
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["import"],
  "rules": {
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": [
          "if", "for", "while", "switch"
        ]
      },
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": [
        "const", "let"
      ], "next": "*" },
      {
        "blankLine": "any",
        "prev": [
          "const", "let"
        ],
        "next": [
          "export", "const", "let"
        ]
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": { "order": "asc" },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "pathGroupsExcludedImportTypes": ["builtin"]
      }
    ]
  }
}